<div>
    <table>
    <tr>
        <th style="text-align: center;">Project</th>
        <td style="text-align: center; width: 200px">CO2 Emissions</td>
        <td colspan="3" rowspan="3" style="text-align: center; width: 200px"><h1>First Step - Data Mining and Dataviz</h1></td>
    </tr>
    <tr>
        <th style="text-align: center;">Location</th>
        <td style="text-align: center; width: 200px">-</td>
    </tr>
    <tr>
        <th style="text-align: center;">Date</th>
        <td style="text-align: center; width: 200px">14/02/2024</td>
    </tr>
    <tr>
        <th style="text-align: center;">&nbsp;</th>
        <td style="text-align: center; width: 200px">&nbsp;</td>
        <td style="text-align: center; width: 200px">&nbsp;</td>
        <td style="text-align: center; width: 200px">&nbsp;</td>
        <td style="text-align: center; width: 200px">&nbsp;</td>
    </tr>
    <tr>
        <th style="text-align: center;">COHORD:</th>
        <td style="text-align: center; width: 200px">C. ARNAUD</td>
        <td style="text-align: center; width: 200px">&nbsp;</td>
        <td style="text-align: center; width: 200px">&nbsp;</td>
        <td style="text-align: center; width: 200px">&nbsp;</td>
    </tr>
    <tr>
        <th style="text-align: center;">&nbsp;</th>
        <td style="text-align: center;">D. GOMES-OCHOA</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;">&nbsp;</td>
    </tr>
    <tr>
        <th style="text-align: center;">&nbsp;</th>
        <td style="text-align: center;">P. DESHPANDE</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;">&nbsp;</td>
    </tr>
    <tr>
        <th style="text-align: center;">&nbsp;</th>
        <td style="text-align: center;">R. MARINHO</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;">&nbsp;</td>
    </tr>
    <tr>
        <th style="text-align: center;">&nbsp;</th>
        <td style="text-align: center;">S. MASOOD</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;">&nbsp;</td>
    </tr>
    </table>
</div>

# Purpose

> The purpose of this report is to have a first overview of the data we are going to use for the project.
>
> The main objectives are:
>
> - Interrogate the data we are working with and understand what each variable means.
> - Homogenise and merge data from different years.
> - Perform an initial clean up and check for missing values and duplicate values.
> - Identify relationships between target variable and features using DataViz
> - Start looking for correlations.
> - Identify potential features to be implemented in the feature engineering phase.
> 
>

In [1]:
import sys
import os
from pathlib import Path
sys.path.append(str(Path.cwd().parent.parent))
from co2emissions.config import data_dir

In [4]:
import pandas as pd

In [5]:
df_info_path = os.path.join(data_dir, '0-raw', 'FRANCE', 'carlab-annuaire-variable.xlsx')
df_info = pd.read_excel(df_info_path, sheet_name='EN')
df_info

,nom-colonne,typerubric,length,legend,unit
0,lib_mrq_utac,varchar,12,the brand,NaN
1,lib_mod_doss,varchar,20,The file model,NaN
2,lib_mod,varchar,20,the business model,NaN
3,dscom,varchar,91,Commercial designation,NaN
4,cnit,varchar,15,The National Type Identification Code (CNIT),NaN
5,tvv,varchar,36,The Variant-Variant (TVV) or the Mines type,NaN
6,cod_cbr,varchar,5,The type of fuel,NaN
7,hybride,varchar,3,Information to identify hybrid vehicles (O/N),NaN
8,puiss_admin_98,varnb,2,Administrative power,NaN
9,puiss_max,varnb,11,Maximum power (in KW),kW
10,typ_boite_nb_rapp,varchar,3,"the type of gearbox and the number of reports,",NaN
11,conso_urb,varnb,11,"urban fuel consumption (in L/100km),",liter for 100 km
12,conso_exurb,varnb,11,"mixed fuel consumption (in L/100km),",liter for 100 km
13,conso_mixte,varnb,11,"extra urban fuel consumption (in L/100km),",liter for 100 km
14,co2,varnb,3,"CO2 emission (in G/km),",gram per km
15,co_typ_1,varnb,11,CO Type I test result,gram per km
16,hc,varnb,11,HC trial results,gram per km
17,nox,varnb,11,Nox trial results,gram per km
18,hcnox,varnb,11,HC+Nox trial results,gram per km
19,ptcl,varnb,5,particle test result,gram per km
20,masse_ordma_min,varnb,4,The mass in mini walking order,kg
21,masse_ordma_max,varnb,4,the mass in maximum walking order,kg
22,champ_v9,varchar,23,Field V9 of the registration certificate which...,NaN
23,date_maj,varchar,6,The date of the last update.,NaN
24,Carrosserie,varchar,19,Body,NaN
25,gamme,varchar,14,range,NaN

# Imports

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
import plotly.express as px

plt.rcParams['figure.dpi'] = 120

# Variable names

In [ ]:
df_info = pd.read_excel('carlab-annuaire-variable.xlsx', sheet_name='EN')
pd.set_option('max_colwidth', 120)
df_info.replace(np.nan, '-')

# Data Overview

In [ ]:
df_2015 = pd.read_csv('fic_etiq_edition_40-mars-2015.csv', sep=';', encoding='mbcs')
df_2014 = pd.read_csv('mars-2014-complete.csv', sep=';', encoding='mbcs')
df_2013 = pd.read_csv('cl_JUIN_2013-complet3.csv', sep=';', encoding='mbcs')
df_2012 = pd.read_csv('BASE CL MAJ JUIN 2012.csv', sep=';', encoding='mbcs')
print("Data 2015")
display(df_2015.head(2))
print("Data 2014")
display(df_2014.head(2))
print("Data 2013")
display(df_2013.head(2))
print("Data 2012")
display(df_2012.head(2))

## Aligninng column Names

> 2015

In [ ]:
df_2015.rename(columns={
    'lib_mrq_doss':     'lib_mrq_utac',
    'mod_utac':         'lib_mod',
    'energ':            'cod_cbr',
    'puiss_admin':      'puiss_admin_98',
    'conso_urb_93':     'conso_urb',
    'co2_mixte':        'co2'
}, inplace=True)
df_2015.columns

> 2014

In [ ]:
df_2014.rename(columns={
    'lib_mrq':          'lib_mrq_utac'
}, inplace=True)
df_2014.columns

> 2013

In [ ]:
df_2013.rename(columns={
    'Marque' :                               'lib_mrq_utac',
    'Modèle dossier' :                       'lib_mod_doss',
    'Modèle UTAC' :                          'lib_mod',
    'Désignation commerciale' :              'dscom',
    'CNIT' :                                 'cnit',
    'Type Variante Version (TVV)' :          'tvv',
    'Carburant' :                            'cod_cbr',
    'Hybride' :                              'hybride',
    'Puissance administrative' :             'puiss_admin_98',
    'Puissance maximale (kW)' :              'puiss_max',
    'Boîte de vitesse' :                     'typ_boite_nb_rapp',
    'Consommation urbaine (l/100km)' :       'conso_urb',
    'Consommation extra-urbaine (l/100km)' : 'conso_exurb',
    'Consommation mixte (l/100km)' :         'conso_mixte',
    'CO2 (g/km)' :                           'co2',
    'CO type I (g/km)' :                     'co_typ_1',
    'HC (g/km)' :                            'hc',
    'NOX (g/km)' :                           'nox',
    'HC+NOX (g/km)' :                        'hcnox',
    'Particules (g/km)' :                    'ptcl',
    'masse vide euro min (kg)' :             'masse_ordma_min',
    'masse vide euro max (kg)' :             'masse_ordma_max',
    'Champ V9' :                             'champ_v9',
    'Date de mise à jour' :                  'date_maj'
}, inplace=True)
df_2013.columns

> 2012

In [ ]:
df_2012.rename(columns={
    'lib_mrq':         'lib_mrq_utac',
    'typ_cbr':         'cod_cbr'
}, inplace=True)
df_2012.columns

> Add year for reference

In [ ]:
df_2012['year'] = 2012
df_2013['year'] = 2013
df_2014['year'] = 2014
df_2015['year'] = 2015

## Concatenation

In [ ]:
datasets = [df_2015, df_2014, df_2013, df_2012]
df = pd.concat(datasets)

In [ ]:
df.head()

In [ ]:
for index, column in enumerate(df.columns):
    print(index, column)

In [ ]:
df.info()

## Percentage of missing values

In [ ]:
df.isna().sum() / len(df) * 100

## Preliminary Cleaning

> We will drop the columns that are not int he initial drescription (which also happen to be the one that are empty or with a lot of missing values)
> These columns are the following:
> - `mrq_utac`, `puiss_heure`, `Unnamed: 26`, `Unnamed: 27`, `Unnamed: 28`, `Unnamed: 29`
>
> We will now only have the columns presented in the **Variable names** section

In [ ]:
df.drop(
    columns=['mrq_utac', 
             'puiss_heure', 
             'Unnamed: 26', 
             'Unnamed: 27', 
             'Unnamed: 28', 
             'Unnamed: 29'
            ],
    inplace=True
)
df.info()

## Duplicated Values

In [ ]:
df.duplicated().sum()

In [ ]:
df = df.drop_duplicates(keep='last')

In [ ]:
df.duplicated().sum()

# Categorical Variables

> A lot of the qualitative variables have many different values because of a trilling space. These spaces have been removed for this preliminary analysis.

## Helper functions

> Lets create a function to print better the unique values from columns
> so we can use it in the report.

In [ ]:
def list_to_cols(l, num_cols):
    num_lines = len(l) // num_cols + 1 # Number of lines
    max_len = len(max(l, key=len)) # Maximum string len
    for line in range(num_lines):
        for col in range(num_cols):
            l_position = line * num_cols + col
            if l_position < len(l):
                if col < num_cols-1:
                    print(f"{l_position:03}: {l[l_position]:<30}", end='')
                else:
                    print(f"{l_position:03}: {l[l_position]:<30}", end='\n')

## Variables

> ### `lib_mrq_utac`

In [ ]:
# Strip extra white space
df.lib_mrq_utac.loc[:] = df.lib_mrq_utac.apply(lambda x: x.strip())
list = df.lib_mrq_utac.unique()
list

In [ ]:
for index, value in enumerate(list):
    print(f"{index:<3} {value}")

In [ ]:
print('LIST OF UNIQUE VALUES\n--------')
list_to_cols(sorted(list), 5)

In [ ]:
df.lib_mrq_utac = df.lib_mrq_utac.replace(
    to_replace=["ALFA-ROMEO", "BMW I", "FORD-CNG-TECHNIK", "JAGUAR LAND ROVER LIMITED", "MERCEDES AMG",             
                "MERCEDES BENZ", "MERCEDES-BENZ", "RENAULT TECH", "ROLLS-ROYCE"],
    value=["ALFA ROMEO", "BMW", "FORD", "JAGUAR", "MERCEDES", "MERCEDES", "MERCEDES", "RENAULT", "ROLLS ROYCE"]
)

In [ ]:
list2 = df.lib_mrq_utac.unique()
print('LIST OF UNIQUE VALUES\n--------')
list_to_cols(sorted(list2), 5)

In [ ]:
data_frame = df.groupby(['lib_mrq_utac'])['co2'].mean().sort_values(ascending=True).round(1)
data_frame = data_frame.reset_index()
data_frame

In [ ]:
fig = px.bar(
    data_frame=data_frame,
    x='lib_mrq_utac',
    y='co2',
    color='co2',
    title='AVERAGE OF CO2 EMISSION BY BRAND',
    # log_x=True,
    text_auto=True
)
fig.update_coloraxes(showscale=False)
fig.update_layout(
    height=600,
    legend=dict(title='CO2 (G/KM)'),
    xaxis_title='BRAND',
    yaxis_title='CO2 EMISSION (G/kM)'
)

fig.show()
fig.write_image('imgs/0-AVERAGE OF CO2 EMISSION BY BRAND.svg', width=1400, height=600)

In [ ]:
data_frame = df['lib_mrq_utac'].sort_values()
fig = px.histogram(
    y=data_frame,
    color=data_frame,
    title='DISTRIBUTION OF BRANDS',
    log_x=True,
    text_auto=True
)
fig.update_layout(
    height=1500,
    # legend=dict(title='BRANDS'),
    xaxis_title='COUNT',
    yaxis_title='',
    showlegend=False
)
fig.show()
fig.write_image('imgs/1-DISTRIBUTION OF BRANDS.svg', width=1800, height=1500)

> ### `lib_mod_doss`

In [ ]:
# Strip extra white space
df.lib_mod_doss.loc[:] = df.lib_mod_doss.apply(lambda x: x.strip())
list = df.lib_mod_doss.unique()

In [ ]:
print('LIST OF UNIQUE VALUES\n--------')
list_to_cols(sorted(list), 6)

> ### `lib_mod`

In [ ]:
# Strip extra white space
df.lib_mod.loc[:] = df.lib_mod.apply(lambda x: x.strip())
list = df.lib_mod.unique()

In [ ]:
print('LIST OF UNIQUE VALUES\n--------')
list_to_cols(sorted(list), 6)

> ### `dscom`

In [ ]:
# Strip extra white space
df.dscom

<div class="alert alert-block alert-success">
    <b>Feature engineering:</b> 
    <br>Extract engine power and cylinder volume from dscom.
</div>

> ### `cnit`

In [ ]:
df.cnit

> We do not find, in this first analysis an interest on these values, it will therefore be dropped.

In [ ]:
df = df.drop('cnit', axis=1)

> ### `tvv`

In [ ]:
df.tvv

<div class="alert alert-block alert-success">
    <b>Feature engineering:</b> 
    <br>The ‘tvv’, as an unique identification number can be used to complete the French government data with new variables from EEA dataset. Ex.: wheelbase, track width..
</div>

> ### `cod_cbr`

In [ ]:
# Strip extra white space
df.cod_cbr.loc[:] = df.cod_cbr.apply(lambda x: x.strip())
list = df.cod_cbr.unique()

In [ ]:
print('LIST OF UNIQUE VALUES\n--------')
list_to_cols(sorted(list), 6)

> The following values are merged before this analysis: `ES/GN` → `GN/ES` and `GP/ES` → `ES/GP`.

In [ ]:
df.cod_cbr = df.cod_cbr.replace(
    to_replace=["ES/GN", "GP/ES", ],
    value=     ["GN/ES", "ES/GP"]
)

> We expect that the Type of fuel will have a big impact in the CO2 emissions.
>
> Lets try to visualize that in a plot:

In [ ]:
data_frame = df.groupby('cod_cbr')['co2'].mean().sort_values(ascending=True).round(1)
fig = px.bar(
    x=data_frame.index,
    y=data_frame,
    color=data_frame.index,
    title='AVERAGE OF CO2 EMISSION BY TYPE OF FUEL',
    # log_x=True,
    text_auto=True
)
fig.update_layout(
    height=600,
    # legend=dict(title='BRANDS'),
    xaxis_title='TYPE Of FUEL',
    yaxis_title='AVG CO2 EMISSIONS (G/KM)',
    showlegend=False
)

fig.show()
fig.write_image('imgs/2-AVERAGE OF CO2 EMISSION BY TYPE OF FUEL.svg', width=1200, height=400)

> We confirm that the type of fuel has a big impact in co2 emissions.
>
> We can also see that EL, that stands for electrical has zero emissions.

In [ ]:
df.cod_cbr[df.hybride=='oui'].value_counts()

<div class="alert alert-block alert-warning">
    <b>Action:</b> 
    <br>Identify the number of car brands using each fuel type and compare the proportions to get a bigger picture for why CO2 emissions differ between each brand. 
    <br>This analysis can further inform the findings from Graph #1..
</div>

<div class="alert alert-block alert-warning">
    <b>Action:</b> 
    <br>Replace fuel type by the correct values. To do this, it’s possible to check the fuel type of a car of another year of the French Government dataset by using the variable ‘tvv’ (if the ‘tvv’ variable is similar, it means that this is exactly the same car with the same characteristics).
</div>

> ### `hybride`

In [ ]:
# Strip extra white space
df.hybride.loc[:] = df.hybride.apply(lambda x: x.strip())
list = df.hybride.unique()

In [ ]:
print('LIST OF UNIQUE VALUES\n--------')
list_to_cols(sorted(list), 1)

In [ ]:
data_frame = df.groupby(['cod_cbr','hybride'])['co2'].mean().sort_values(ascending=True).round(1)
data_frame = data_frame.reset_index()

> We expect that a hybrid car will produce less CO2 than a non-hybrid.

In [ ]:
fig = px.bar(
    data_frame=data_frame,
    x='cod_cbr',
    y='co2',
    color='hybride',
    title='AVERAGE OF CO2 EMISSION BY TYPE OF FUEL AND HYBRID',
    text_auto=True,
    barmode='group'
)
fig.update_layout(
    height=600,
    legend=dict(title='HYBRID'),
    xaxis_title='TYPE OF FUEL',
    yaxis_title='AVG CO2 EMISSIONS (G/KM)'
)

fig.show()
fig.write_image('imgs/3-AVERAGE OF CO2 EMISSION BY TYPE OF FUEL AND HYBRID.svg', width=1200, height=500)

> We can see, as expexted that a hybrid car has an average lower consumption, compared to a non-hybrid.

> ### `typ_boite_nb_rapp`

In [ ]:
# Strip extra white space
df.typ_boite_nb_rapp.loc[:] = df.typ_boite_nb_rapp.apply(lambda x: x.strip())
list = df.typ_boite_nb_rapp.unique()

In [ ]:
print('LIST OF UNIQUE VALUES\n--------')
list_to_cols(sorted(list), 7)

In [ ]:
data_frame = df.groupby(['typ_boite_nb_rapp','hybride'])['co2'].mean().sort_values(ascending=True).round(1)
data_frame = data_frame.reset_index()

> We expect that a hybrid car will produce less CO2 than a non-hybrid.

In [ ]:
fig = px.bar(
    data_frame=data_frame,
    x='typ_boite_nb_rapp',
    y='co2',
    color='hybride',
    title='AVERAGE OF CO2 EMISSION BY TYPE OF GEARBOX',
    text_auto=True,
    barmode='group'
)
fig.update_layout(
    height=600,
    legend=dict(title='HYBRID'),
    xaxis_title='TYPE OF GEARBOX',
    yaxis_title='AVG CO2 EMISSIONS (G/KM)'
)

fig.show()
fig.write_image('imgs/4-AVERAGE OF CO2 EMISSION BY TYPE OF GEARBOX.svg', width=1200, height=500)

<div class="alert alert-block alert-success">
    <b>Feature engineering:</b> 
    <br>Separate First letter and number in different features and check the correlation of each category with co2 emissions.
</div>

> ### `champ_v9`

In [ ]:
df.champ_v9

<div class="alert alert-block alert-success">
    <b>Feature engineering:</b> 
    <br>Investigate if certified or no certified car has an impact on the CO2 emissions. A binary variable can be created.
</div>

> ### `date_maj`

> We expect the update date not to have a correlation with the CO2 emissions, but lets take a look at it, as it contains the year
> that could be interesting to extract later to see the trend of CO2 emission by year.

In [ ]:
df.date_maj.value_counts()

In [ ]:
data_frame = df.groupby(['date_maj'])['co2'].mean().round(2)
data_frame = data_frame.reset_index()
data_frame.replace(
    ['dÚc', 'déc', 'juin', 'mars', 'sept'],
    ['December', 'December', 'June', 'March', 'September'], 
    regex=True, inplace=True)
data_frame['datetime'] = pd.to_datetime(data_frame.date_maj, format='%B-%y')
data_frame['year'] = data_frame.date_maj.apply(lambda x: x[-2:])
data_frame = data_frame.sort_values(by='datetime')
data_frame

In [ ]:
fig = px.bar(
    data_frame=data_frame,
    x='date_maj',
    y='co2',
    color='year',
    title='AVERAGE OF CO2 EMISSION BY YEAR',
    text_auto=True,
    # barmode='group'
)
fig.update_layout(
    height=600,
    xaxis_title='DATE',
    yaxis_title='AVG CO2 EMISSION (IN G/KM)'
)

fig.show()
fig.write_image('imgs/5-AVERAGE OF CO2 EMISSION BY YEAR.svg', width=800, height=400)

> CO2 average emissions seems to be decreasing slowly each year. We must be careful because we did not yet remove electrical cars that grew more in the latest years, and could impact the average if it is computed in the calculation.

<div class="alert alert-block alert-success">
    <b>Feature engineering:</b> 
    <br>Create a column year from file name. This can be used to split the test / train data by year. We can train the dataset in older years and test it in the most recent data.
</div>

> ### `Carrosserie`

In [ ]:
df.Carrosserie.value_counts()

In [ ]:
df.Carrosserie.unique()

In [ ]:
print('LIST OF UNIQUE VALUES\n--------')
list_to_cols(sorted(df.Carrosserie.unique()[1:]), 3)

In [ ]:
data_frame = df.groupby(['Carrosserie','cod_cbr'])['co2'].mean().sort_values(ascending=True).round(1)
data_frame = data_frame.reset_index()
data_frame

In [ ]:
fig = px.bar(
    data_frame=data_frame,
    x='Carrosserie',
    y='co2',
    color='cod_cbr',
    title='CO2 EMISSIONS VS CARROSSERIE',
    barmode='group'
)
fig.update_layout(
    height=800,
    legend=dict(title='FUEL TYPE'),
    xaxis_title='CARROSSERIE',
    yaxis_title='CO2 EMISSION (IN G/KM)'
)

fig.show()
fig.write_image('imgs/5-CO2 EMISSIONS VS CARROSSERIE.svg', width=1200, height=500)

In [ ]:
fig = px.bar(
    data_frame=data_frame,
    x='Carrosserie',
    y='co2',
    color='Carrosserie',
    title='CO2 EMISSIONS VS CARROSSERIE'
)
fig.update_layout(
    height=800,
    xaxis_title='CARROSSERIE',
    yaxis_title='CO2 EMISSION (IN G/KM)',
    showlegend=False
)

fig.show()
fig.write_image('imgs/6-CO2 EMISSIONS VS CARROSSERIE_2.svg', width=1200, height=500)

> ### `gamme`

In [ ]:
df.gamme.value_counts()

In [ ]:
df.gamme.unique()

In [ ]:
print('LIST OF UNIQUE VALUES\n--------')
list_to_cols(sorted(df.gamme.unique()[1:]), 3)

> The following variables are to be merged: `MOY-INF`, `MOY-INFER` --> `MOY-INFERIEURE`

In [ ]:
df.gamme = df.gamme.replace(
    to_replace=["MOY-INF", "MOY-INFER"],
    value=     ["MOY-INFERIEURE", "MOY-INFERIEURE"]
)

In [ ]:
df.info()

In [ ]:
data_frame = df.groupby(['gamme','cod_cbr'])['co2'].mean().sort_values(ascending=True).round(1)
data_frame = data_frame.reset_index()
data_frame

In [ ]:
fig = px.bar(
    data_frame=data_frame,
    x='gamme',
    y='co2',
    color='cod_cbr',
    title='CO2 EMISSIONS VS GAMME',
    barmode='group'
)
fig.update_layout(
    height=800,
    legend=dict(title='FUEL TYPE'),
    xaxis_title='GAMME',
    yaxis_title='CO2 EMISSION (IN G/KM)'
)

fig.show()
fig.write_image('imgs/6-CO2 EMISSIONS VS GAMME.svg', width=1200, height=500)

# Quantitative Variables

> ### `puiss_admin_98`

In [ ]:
df.puiss_admin_98.isna().sum()

In [ ]:
df.puiss_admin_98 = df.puiss_admin_98.astype('float64')

> ### `puiss_max`

In [ ]:
df.puiss_admin_98.isna().sum()

In [ ]:
fig = px.scatter(
    data_frame=df,
    x='puiss_admin_98',
    y='co2',
    color='hybride',
    # symbol='cod_cbr',
    title='CO2 EMISSIONS VS ADMIN POWER'
)
fig.update_layout(
    height=800,
    legend=dict(title='HYBRID'),
    xaxis_title='ADMIN POWER',
    yaxis_title='CO2 EMISSION (G/KM)'
)

fig.show()
# fig.write_image('imgs/10-CO2 EMISSIONS VS ADMIN POWER.svg', width=1200, height=600)

> ### `puiss_max`

> `puiss_max` will probably be used later as a categorical variable, by separating it in bins. Let’s check the influence of this variable on the CO2 emissions:

In [ ]:
df.puiss_max = df.puiss_max.replace(',', '.', regex=True).astype('float64')

In [ ]:
fig = px.scatter(
    data_frame=df,
    x='puiss_max',
    y='co2',
    color='hybride',
    # symbol='cod_cbr',
    title='CO2 EMISSIONS VS MAXIMUM POWER'
)
fig.update_layout(
    height=800,
    legend=dict(title='HYBRID'),
    xaxis_title='MAXIMUM POWER (KW)',
    yaxis_title='CO2 EMISSION (G/KM)'
)

fig.show()
fig.write_image('imgs/4-O2 EMISSIONS VS MAXIMUM POWER.svg', width=1200, height=600)

> ### `conso_urb`

In [ ]:
df.conso_urb = df.conso_urb.replace(',', '.', regex=True).astype('float64')

> ### `conso_exurb`

In [ ]:
df.conso_exurb = df.conso_exurb.replace(',', '.', regex=True).astype('float64')

> ### `conso_mixte`

In [ ]:
df.conso_mixte = df.conso_mixte.replace(',', '.', regex=True).astype('float64')

> ### `co2` **[TARGET VARIABLE]**

In [ ]:
df.co2.isna().sum()

<div class="alert alert-block alert-success">
    <b>Feature engineering:</b> 
    <br>Split co2 emission in classes (ex.: low, high, average, high and very high) to use it in classification models. Ranges to be defined later.
</div>

> ### `co_typ_1`

In [ ]:
df.co_typ_1 = df.co_typ_1.replace(',', '.', regex=True).astype('float64')

> ### `hc`

In [ ]:
df.hc = df.hc.replace(',', '.', regex=True).astype('float64')

> ### `nox`

In [ ]:
df.nox = df.nox.replace(',', '.', regex=True).astype('float64')

> ### `hcnox`

In [ ]:
df.hcnox = df.hcnox.replace(',', '.', regex=True).astype('float64')

<div class="alert alert-block alert-success">
    <b>Feature engineering:</b> 
    <br>If we have 2 filled value out of 3 for the variables hc, nox and hcnox, replace the NaN value using the assumption that hc + nox = hcnox.
</div>

> ### `ptcl`

In [ ]:
df.ptcl = df.ptcl.replace(',', '.', regex=True).astype('float64')

> ### `masse_ordma_min`

In [ ]:
df.masse_ordma_min.isna().sum()

In [ ]:
df.masse_ordma_min = df.masse_ordma_min.astype('float64')

> ### `masse_ordma_max`

In [ ]:
df.masse_ordma_max.isna().sum()

In [ ]:
df.masse_ordma_max = df.masse_ordma_max.astype('float64')

<div class="alert alert-block alert-warning">
    <b>Action:</b> 
    <br>Some cars have the same min and max mass order (around 47 000 cars) while it is different for the others. If the variable max mass is kept during the next phase, this problematic must be investigated.
</div>

## Correlations and Distribution

In [ ]:
num_vars_list = [
    'co2',
    'puiss_admin_98',
    'puiss_max',
    'conso_urb',
    'conso_exurb',
    'conso_mixte',
    'co_typ_1',
    'hc',
    'nox',
    'hcnox',
    'ptcl',
    'masse_ordma_min',
    'masse_ordma_max'
]
num_vars = df[num_vars_list]

> Now that the variables are converted to numerical values

In [ ]:
df[num_vars_list].info()

In [ ]:
df[num_vars_list].describe().round(2)

In [ ]:
list_to_cols(num_vars_list, 4)

In [ ]:
fig = px.imshow(
    num_vars.corr().round(3), 
    width=1400,
    height=500,
    text_auto=True,
    aspect='auto',
    title='CORRELATION MATRIX'
)
fig.show()

fig.write_image('imgs/10-CORRELATION MATRIX.svg', width=1400, height=500)

In [ ]:
# fig = plt.figure(figsize=(20,4))
# ax = fig.add_subplot(111)
# sns.heatmap(
#     num_vars.corr(),
#     ax=ax,
#     annot=True
# )
# ax.set_title('CORRELATION MATRIX')
# plt.show()

# plt.savefig('imgs/10-CORRELATION MATRIX.jpeg')

In [ ]:
df.info()

In [ ]:
df.isna().sum() / len(df) * 100

In [ ]:
df.to_csv('data_2012_1015.csv', index=False)

### Boxplots

In [ ]:
data_frame = [df[x].dropna().tolist() for x in num_vars]

In [ ]:
len(data_frame)

In [ ]:
len(num_vars)

In [ ]:
fig = plt.figure(figsize=(16,12))

# Co2 and puiss_max
# ---
ax1 = fig.add_subplot(221)
ax1.boxplot(
    [
        data_frame[0], # co2
        data_frame[2]  # puiss_max
    ]
)
ax1.set_xticklabels(
    labels=[
        num_vars_list[0],
        num_vars_list[2]
    ]
)

# puiss_max_98
# ---
ax2 = fig.add_subplot(222)
ax2.boxplot(
    data_frame[1:2]
)
ax2.set_xticklabels(labels=num_vars_list[1:2])

# Co2 and puiss_max
# ---
ax3 = fig.add_subplot(223)
ax3.boxplot(
    data_frame[6:11]
)
ax3.set_xticklabels(labels=num_vars_list[6:11])

# Co2 and puiss_max
# ---
ax4 = fig.add_subplot(224)
ax4.boxplot(
    data_frame[11:]
)
ax4.set_xticklabels(labels=num_vars_list[11:])

# ax2 = fig.add_subplot(131)
# ax2.boxplot(
#     data_frame
# )
# ax1.set_xticklabels(labels=num_vars_list, rotation=90)

plt.show()

# Additional Data Vizualisation

## Categorical Variables

### Catplots

In [ ]:
cat_vars = ['lib_mrq_utac', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv',
       'cod_cbr', 'hybride', 'typ_boite_nb_rapp', 'champ_v9', 'date_maj', 'Carrosserie', 'gamme']

In [ ]:
df.columns

In [ ]:
data_frame = df[['co2', 'hybride', 'cod_cbr', 'lib_mrq_utac', 'gamme', 'Carrosserie']].dropna()
data_frame

In [ ]:
data_frame.isna().sum()

In [ ]:
sns.catplot(
    data=data_frame,
    x='cod_cbr', 
    y ='co2',
    height=1.5,
    aspect=7, 
    row='gamme',
    hue='hybride'
)

plt.show()

In [ ]:
sns.catplot(
    data=data_frame,
    x='cod_cbr', 
    y ='co2',
    kind='violin',
    hue='hybride',
    height=5,
    aspect=2, 
)

plt.show()

In [ ]:
sns.catplot(
    data=data_frame,
    x='cod_cbr', 
    y ='co2',
    kind='box',
    hue='hybride',
    height=6,
    aspect=2.5, 
)

plt.show()

In [ ]:
sns.catplot(
    data=data_frame,
    x='gamme', 
    y ='co2',
    kind='box',
    hue='hybride',
    height=6,
    aspect=2.5, 
)

plt.show()

In [ ]:
ax = sns.catplot(
    data=data_frame,
    x='Carrosserie', 
    y ='co2',
    kind='violin',
    hue='hybride',
    height=6,
    aspect=2.5, 
)
ax.set_xticklabels(rotation=45)
plt.show()

## Quantitative Variables

In [ ]:
df[num_vars_list].isna().sum()

In [ ]:
len(num_vars_list)

In [ ]:
num_vars_list[:6]

In [ ]:
num_vars_list[6:]

### Pairplots

In [ ]:
df.hybride.isna().sum()

In [ ]:
sns.pairplot(
    data=df[num_vars_list[:6]+['hybride']],
    dropna=True,
    hue='hybride',
    diag_kind='kde'
)

plt.show()

In [ ]:
sns.pairplot(
    data=df[['co2'] + num_vars_list[6:]+['hybride']],
    dropna=True,
    hue='hybride',
    diag_kind='kde'
)

plt.show()

# Final consideration on duplicates

In [ ]:
df.info()

In [ ]:
df.columns

<div class="alert alert-block alert-danger">
<b>Important:</b> 
    <p>Cars can have same caracteristics with different years and registration number.
    <br>To identify duplicated values we have to remove variables like cnit, date_maj etc from the dataset.</p>
    After corrections, check for duplicated values without considering columns like: `date_maj`, `champ_v9`, etc. That can be different for the same car with same characteristics.
Also, variables that has a lot of missing values like: `hcnox`, `ptcl`, `hc`, etc. must be removed from the comparison list. 

</div>

In [ ]:
columns = ['tvv', 'cod_cbr', 'hybride', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp',
           'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'co_typ_1',
           'nox', 'masse_ordma_min', 'masse_ordma_max',
           'Carrosserie', 'gamme']
df[columns].duplicated().sum()

In [ ]:
df.drop_duplicates(subset=columns).info()